[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.78.0"
sqlalchemy = "==1.4.36"
uvicorn = "==0.17.6"
python-multipart = "==0.0.6"
python-jose = "==3.3.0"

[dev-packages]

[requires]
python_version = "3.9"
